<section layout="row" layout-fill  layout-sm="column" layout-align="center center" layout-wrap>
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" flex="50">
        <md-content flex="95">
            <md-toolbar class="md-active">
                <h2 class="md-toolbar-tools">Login</h2>
            </md-toolbar>
            <md-chips>
                <md-chip>email : admin@example.com | password : secret</md-chip>
            </md-chips>

            <md-divider></md-divider>
            <form name="authForm">
                <md-input-container>
                    <label>Email</label>
                    <input type="email" name="email" ng-model="auth.email" required>
                    <div ng-messages="authForm.email.$error" ng-show="authForm.email.$touched">
                        <p ng-message="required">This field is required</p>
                        <p ng-message="email">This needs to be a valid email</p>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-minlength="3" name="password" type="password" ng-model="auth.password" required>
                    <div ng-messages="authForm.password.$error" ng-show="authForm.password.$touched">
                        <div ng-message="required">Password Required</div>
                        <div ng-message="minlength">Password Minimum Length 3 characters</div>
                    </div>
                </md-input-container>
            </form>
            <div class="md-actions" layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="auth.login()">Submit</md-button>
            </div>
        </md-content>
    </md-whiteframe>
</section>