<section layout="row" layout-fill  layout-sm="column" layout-align="center center" layout-wrap>

        <md-button class="md-raised md-primary" ng-click="user.logout()">Logout</md-button>
        <md-divider></md-divider>
        <div ui-grid="gridOptions" ui-grid-pagination class="grid md-padding" flex="90"></div>


</section>
